<ul class="nav side-menu">
    <li>
        <a href="/"><i class="fa fa-home"></i> Dashboard </a>
    </li>
    <li><a href="@Url.Action("Index","Account")"><i class="fa fa-edit"></i>My Profile</a></li>
    <li><a href="@Url.Action("Index","Appointments")"><i class="fa fa-edit"></i> Appointment</a></li>
    <li><a href="@Url.Action("Index","Doctors")"><i class="fa fa-edit"></i>Search Doctors</a></li>
    
</ul>

